{{ define "main" }}
<article>
    <div>
        <span class=" text-2xl font-bold">{{ .Title }}</span>
        <!-- Date -->
        <p class="text-xs font-semibold">
          {{ .Date.Format "January 2, 2006 3:04 PM" }}
        </p>

        <br>
        <!-- Categories -->
        {{ if .Params.categories }}
        <div class="flex space-x-2">
          {{ $categories := .Params.categories }}
          {{ range $index, $category := $categories }}
            <span class="text-xs font-semibold bg-slate-200 p-1 pl-2 pr-2 rounded-lg">{{ $category }}</span>
          {{ end }}
        </div>
        {{ end }}
      </div>


<br>
<hr>
<br>
    <div class="custom-content">
      {{ .Content }}
    </div>
</article>
{{ end }}